body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color: #66bfbf;
    font-size: 5.625rem; /*100% equals to 16px*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2{
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3{
    color:#11999e;
    font-family: 'Montserrat', sans-serif;
}

a{
    color:#11999e;
}

.top-container{
    background-color: #e4f9f5;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    padding-top: 100px;

}

/* .am{
    position: absolute;
    left: 425px;
    font-size: 80px;
} */

.middle-container{
 
}

.bottom-container{

}
.profile img{
    width: 25%;
    border-radius: 9em;
    border-color: #66bfbf;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.design-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.top-cloud{
    position:absolute;
    right:300px;
    top:50px
}

.bottom-cloud{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
